* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 260px;
}

h3 {
  margin: 0;
  margin-bottom: 1rem;
}

.container-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    width: 84px;
  }
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  position: absolute;
}

input:checked {
  &+label {
    background-color: #244224;
    box-shadow: 0 0 20px #24422450;
  }

  &+label:after {
    left: calc(100% - 6px);
    transform: translateX(-100%);
  }
}

input:disabled {
  cursor: not-allowed;

  &+label {
    cursor: not-allowed;
    background-color: #333333;
    box-shadow: 0 0 20px #33333350;
    transition: none;
  }

  &+label:after {
    transform: none;
  }
}

label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #854747;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #85474750;

  &::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;
    top: 6px;
    left: 6px;
    transition: 0.5s;
  }

  &:active:after {
    width: 48px;
  }
}